name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint-test-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - run: npm ci
      - run: npm run lint
      - run: npm run test:unit -- --coverage
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Semgrep SAST
        uses: returntocorp/semgrep-action@v1
        with:
          config: auto
        
      - name: Snyk SCA
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=high

      - name: Build image
        run: |
          docker build -t app:${{ github.sha }} .
      - name: Trivy scan
        uses: aquasecurity/trivy-action@master
        continue-on-error: true
        with:
          image-ref: app:${{ github.sha }}
          exit-code: 1
          severity: HIGH,CRITICAL

  deploy-dev:
    needs: lint-test-scan
    runs-on: ubuntu-latest
    outputs: 
      repo_url: ${{ steps.pulumi.outputs.repoUrl }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: infra/package-lock.json
    
      # - name: Install dependencies
      - run: npm ci
        working-directory: infra

      - name: Pulumi Up
        id: pulumi
        uses: pulumi/actions@v5
        with:
          command: up
          stack-name: dev
          work-dir: infra
          upsert: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET }}
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_TOKEN }}

  build-and-push:
    needs: deploy-dev 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPO_URL: ${{ needs.deploy-dev.outputs.repo_url }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
         
          docker build -t $REPO_URL:$IMAGE_TAG .
     
          docker push $REPO_URL:$IMAGE_TAG
         